@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marcellus&family=Oswald:wght@200..700&display=swap');
body {
    background-image: url("../images/signup-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Marcellus", serif;
}

/*navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f5e8d8;
}
#navbarSupportedContent {
    justify-content: end;
}

.navbar-toggler {
    font-size: smaller;/*adjust the button size for mobile screens*/
}
.navbar-nav {
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 15px;
}

/* footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: aliceblue;
}

#footer-links-container {
    height: inherit;/*inherit the height from the footer*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none
}

/*signup form styles*/ 
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20vh auto;
    width: min-content;
    
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 30em;/*default width for wider screens*/
}

.inputs-container {
    display: flex;
    flex-direction: column;
    background-color: #a8dadc;
    color: darkblue;
    padding: 10px;

}

.signup {
    border-radius: 0;
    color: aliceblue;
}

.signup-form-heading {
    background-color: rgba(255, 255, 250, 0.4);
    color: black;
    padding: 5px;
    margin: 10px;
    width: fit-content;
}
    
#hint {
    margin-bottom: 3px;
    background-color:azure;
}

.space {/*this class is toggled when form submission event occurs*/
    padding: 7px;/*apply padding around the hint element*/
}

@media screen and (max-width:767px) {/*keep the styles applied from mobile to just before the tablet breakpoint*/
    #signup {
        width: 15em;
    }
}