@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marcellus&family=Oswald:wght@200..700&display=swap');

/* navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f5e8d8;
}
#navbarSupportedContent {
    justify-content: end;
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 15px;
}
/* styles for the body of main-content page*/
body {
    background-color: #a8dadc;
    font-family: "Marcellus", serif;
}

/* footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: aliceblue;
}

#footer-links-container {
    height: inherit;/*inherit the height from the footer*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none
}

/* search element styles */
.movie-search-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    width: 80vw;
    height: auto;
    text-align: center;
}

#searchbox {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#search-elements-container {
    display: flex;
    justify-content: center;
}

#search-text, .search-movie {
    border-radius: 0;/*remove default border radius for a uniform look with the search button*/
}

#search-text {
    width: 20em;
    border: none;
}

.search-movie {
    color: aliceblue;
}

.search-heading {
    font-size: large;
}

.movie-info {
    margin-top: 10px;
    flex-direction: row;
    visibility: hidden;
    flex-direction: row;
    gap: 10px;
    text-align: justify;
}

.movie-info, #info-container {/*group style properties together and apply them to selected elements*/
    display: flex;
    align-items: start
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#info-container > .movie-info-elements { /*select child elements of .movie-info and apply styles*/
    margin-top: 3px;
    padding: 7px;
    text-align: justify;
    background-color: #a8dfdc;/*creates a very subtle background color contrast with the body background*/ 
}

/* media queries for the main-content page */ 
@media screen and (min-width:320px) and (max-width:767px) {
    #search-elements-container {
        flex-direction: column;
        align-items: center;
    }

    #search-text {
        width: 17rem;
    }

    .navbar-toggler {
        font-size: small;
    }

    #navbarSupportedContent {
        font-size: small;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .footer-links {
        font-size: small;
    }

    .search-movie {
        font-size: 12px;
        margin-top: 10px;
    }

    .search-heading {
        font-size: small;
    }

    .navbar-brand {
        font-size: smaller;
    }

    .movie-info {
        flex-direction: column;
    }
    .movie-poster {
        width: 70%;
    }

    #movie-title {
        font-size: medium;
    }

    .movie-info-elements {
        font-size: small;
    }
}